.clearfix
  %h3.slim.pull-left
    = @repository.assignment.long_name
    %small
      = surround '(', ')' do
        = @repository.assignment.course.number
      %span.label.label-important Reference repository
  .pull-right.header-buttons
    = link_to edit_assignment_path(@repository.assignment), class: 'btn', title: 'Edit this assignment', rel: 'tooltip' do
      = icon_tag('pencil')
      Edit description and dates...

This example was created by
= @repository.user.display_name
at
= succeed '.' do
  %strong= l @repository.created_at
