.section-header.big
  = succeed ": " do
    = @repository.assignment.short_name
  = @repository.assignment.long_name
  %span.label.label-important Reference repository

.container-fluid
  This example was created by
  = @repository.user.display_name
  at
  = succeed '.' do
    %strong= l @repository.created_at
