.section-header.big
  Example:
  = @repository.name
  %small
    = surround '(', ')' do
      = @repository.course_offering.course.number

.container-fluid
  .row-fluid    
    This example was created by
    = @repository.user.display_name
    at
    = succeed '.' do
      %strong= l @repository.created_at

- if can? :manage, @repository
  .section-header
    Users watching:
    
  .container-fluid  
    %ul#accessing-users.gravatar-list
