.container-fluid
  .row-fluid
    .span8
      %h3.slim
        Example:
        = @repository.name
        %small
          = surround '(', ')' do
            = @repository.course_offering.course.number

      This example was created by
      = @repository.user.display_name
      at
      = succeed '.' do
        %strong= l @repository.created_at

    .span4
      - if can? :manage, @repository
        %h4
          Users currently accessing
          %small#accessing-user-count
        %ul#accessing-users.gravatar-list
