= twitter_bootstrap_form_for @institution, html: { class: 'form-horizontal' } do |f|
  = form_errors @institution

  = f.text_field :domain
  = f.text_field :display_name

  = f.actions do
    = f.submit
