%ul.breadcrumb
  %li.active
    Institutions
  %li.pull-right
    = link_to 'New...', new_institution_path

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Display Name
      %th Domain
      %th= icon_tag('cog')
  %tbody
    - @institutions.each do |institution|
      %tr
        %td
          = link_to institution.display_name, institution
          = "(#{institution.abbreviation})"
        %td= institution.domain
        %td
          = link_to icon_tag('pencil'), edit_institution_path(institution)
          = link_to_destroy institution
