%ul.breadcrumb
  %li
    = link_to 'Institutions', institutions_path
    %span.divider /
  %li.active
    = @institution.display_name
  %li.pull-right
    = link_to edit_institution_path(@institution) do
      %i.icon-pencil
      Edit...

%h2
  = @institution.display_name
  %small= "(#{@institution.domain})"

-# Table of statistics about the institution
%table.table.table-bordered
  %tbody
    %tr
      %th Number of users
      %td= @institution.users.count


-# Table listing the courses belonging to the institution (and allowing
-# them to be modified
%h3
  = link_to 'Courses', institution_courses_path(@institution)

= render partial: 'courses/index', locals: { courses: @institution.courses }
.pull-right
  = link_to 'Create a new course...', new_institution_course_path(@institution), class: 'btn btn-success'
