- course_offering = assignment_offering.course_offering
.row
  .span8
    %a{ href: 'javascript:void(0)', data: { toggle: 'collapse', target: "#grades_#{course_offering.id}" } }
      %h3.slim.btn-line-height
        = icon_tag('chevron-right')
        = course_offering.full_label
  .span4
    %table{style: 'width: 100%;'}
      %tr
        %td
          = link_to assignment_regrade_all_path(@assignment, course_offering), class: 'btn btn-info btn-block' do
            = icon_tag('ok')
            Regrade All
        %td
          = link_to assignment_path(@assignment, format: :csv), class: 'btn btn-primary btn-block' do
            = icon_tag('bar-chart')
            Download CSV of grades

.row.collapse{ id: "grades_#{course_offering.id}", class: visible && 'in' }
  .span8
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %tr
          %th Student
          %th{ width: '20%' } Check Number
          %th{ width: '20%' } Score
          %th{ width: '1px', style: 'border-left: none' }
          %th{ width: '1px', style: 'border-left: none' }
          %th{ width: '1px', style: 'border-left: none' } 
      %tbody
        - course_offering.users_sorted_by_role.each do |user|
          - repository = assignment_offering.repository_for_user(user)
          %tr
            %td.has_gravatar
              = gravatar_tag(user, 28)
              = link_to user.display_name, user

              - role = course_offering.role_for_user(user)
              - if role != CourseRole.student
                %span.muted
                  = surround '(', ')' do
                    = role.name
            - if repository
              - if repository.assignment_checks.any?
                - most_recent = repository.assignment_checks.most_recent
                %td{ style: 'white-space: nowrap' }
                  = link_to most_recent, remote: true do
                    = most_recent.number
                    = surround '(', ')' do
                      = l most_recent.created_at
                %td
                  = score_bar(most_recent.overall_score)
                %td{ style: 'border-left: none' }
                  = link_to icon_tag('bar-chart'), assignment_repository_assignment_checks_path(repository), remote: true
                %td{ style: 'border-left: none' }
                  = link_to assignment_regrade_path(@assignment, course_offering, repository) do
                    = icon_tag('ok')
                %td{ style: 'border-left: none' }
                  = link_to staff_code_url(repository) do
                    = icon_tag('laptop')
              - else
                %td{ colspan: 5 } Started but never checked
            - else
              %td{ colspan: 5 } Not started
  .span4
    = chart_placeholder_tag 'grade-histogram', :'assignment-offering' => assignment_offering.id
    %table.grade-summary.table.table-condensed
      %tbody
        %tr
          %th # of Students Started:
          %td.started Calculating...
        %tr
          %th Highest:
          %td.highest Calculating...
        %tr
          %th Lowest:
          %td.lowest Calculating...
        %tr
          %th Mean:
          %td.mean Calculating...
        %tr
          %th Median:
          %td.median Calculating...
