#assignment_offerings_modal.modal.modal-wide.hide.fade
  = pythy_form_for @assignment_offering.course_offering, @assignment_offering,
    html: { class: 'modal-form' } do |f|
    .modal-header
      = close_button_tag dismiss: 'modal'
      %h3 New Assignment

    .modal-body
      #flashbar-placeholder

      = f.fields_for :assignment do |assignment|
      
        = assignment.text_field :short_name, class: 'input-large' do
          .help-block A brief name for the assignment, such as "Project 1".
        = assignment.text_field :long_name, class: 'input-xxlarge' do
          .help-block
            A more descriptive name for the assignment. The short name and long name will be combined as
            %strong "Short Name: Long Name"
            in many displays.

    %div{'style' => 'border-top: 1px solid #eeeeee; padding: 9px;' }
      %table
        %tr
          %td
            %h4 Or use previous assignment as template:
          %td{'width' => '10px'}
          %td
            = link_to "Use Template", simple_course_path('template_picker', @course, @term), :class => "btn btn-success"

    .modal-footer
      = f.submit
