<h1>Listing assignment_offerings</h1>

<table>
  <tr>
    <th>Assignment</th>
    <th>Course offering</th>
    <th>Published</th>
    <th>Due at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignment_offerings.each do |assignment_offering| %>
  <tr>
    <td><%= assignment_offering.assignment_id %></td>
    <td><%= assignment_offering.course_offering_id %></td>
    <td><%= assignment_offering.published %></td>
    <td><%= assignment_offering.due_at %></td>
    <td><%= link_to 'Show', assignment_offering %></td>
    <td><%= link_to 'Edit', edit_assignment_offering_path(assignment_offering) %></td>
    <td><%= link_to 'Destroy', assignment_offering, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment offering', new_assignment_offering_path %>
