.row
  %ul.breadcrumb
    %li
      = link_to_if can?(:edit, @assignment), @assignment.course.organization.display_name, @assignment.course.organization
      %span.divider /
    %li
      = link_to_if can?(:edit, @assignment), @assignment.course.number, @assignment.course
      %span.divider /
    %li.active
      = succeed ':' do
        = @assignment.short_name
      = @assignment.long_name

  %h2
    = @assignment.short_name
    %small
      = surround '(', ')' do
        = @assignment.long_name

  .assignment_summary
    = raw @summary

  - if @assignment.can_view_submissions_for_any_offering?(current_user)
    %ul.nav.nav-tabs
      = tab_tag :code, icon_tag('laptop') + ' Code'
      = tab_tag :description, icon_tag('list-ol') + ' Description', active: true
      = tab_tag :grades, icon_tag('tasks') + ' Grades'
      = tab_tag :edit, icon_tag('pencil') + " Edit"

  .tab-content  
    - if can? :edit, @assignment
      #code.tab-pane    
        .span3
          %h4 Starter Files
          = render partial: 'code/file_list', locals: { path: 'starter' }
        .span3
          %h4 Reference Tests
          = render partial: 'code/file_list', locals: { path: 'test' }
        .span3
          %h4 Solution
          = render partial: 'code/file_list', locals: { path: 'solution' }
        .span3
          %h4 Student View            
          %ul.unstyled
            - @assignment.assignment_offerings.each do |ao|
              - if can? :show, ao
                %li 
                  = ao.course_offering.short_label + ": " + ao.course_offering.long_label
                %li
                  = icon_tag('file')
                  = link_to "main.py", code_path(ao)
                %br
    
      
    #description.tab-pane.active
      - if can? :edit, @assignment
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Course Offering
              %th Opens at
              %th Due at
              %th Closes at
          %tbody
            - @assignment_offerings.each do |offering|
              %tr{ class: offering.visible? ? nil : 'warning' }
                %td= offering.course_offering.full_label
                %td= datetime_or_none offering.opens_at
                %td= datetime_or_none offering.due_at
                %td= datetime_or_none offering.closes_at
      - else
        .alert.alert-info
          - if @assignment_offerings.first.due_at
            This assignment is due at
            = succeed '.' do
              %strong= l @assignment_offerings.first.due_at
          - else
            This assignment is open forever.

      .assignment_description
        .row
          .span8
            = raw @description
    - if @assignment.can_view_submissions_for_any_offering?(current_user)
      #grades.tab-pane
        - @assignment_offerings.each do |ao|
          = render partial: 'assignment_offerings/grades', locals: { assignment_offering: ao, visible: true }
          
          
    #edit.tab-pane
      = render partial: 'assignments/form'
