.row
  %ul.breadcrumb
    %li
      = link_to_if can?(:edit, @assignment), @assignment.course.organization.display_name, @assignment.course.organization
      %span.divider /
    %li
      = link_to_if can?(:edit, @assignment), @assignment.course.number, @assignment.course
      %span.divider /
    %li.active
      = succeed ':' do
        = @assignment.short_name
      = @assignment.long_name
    - if can? :edit, @assignment
      %li.pull-right
        = link_to edit_assignment_path(@assignment) do
          %i.icon-pencil
          Edit...

  %h2
    = @assignment.short_name
    %small
      = surround '(', ')' do
        = @assignment.long_name

  .assignment_summary
    = raw @summary

  - if can? :edit, @assignment
    %ul.nav.nav-tabs
      = tab_tag :description, 'Description', active: true
      = tab_tag :grades, 'Grades'

  .tab-content
    #description.tab-pane.active
      - if can? :edit, @assignment
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Course Offering
              %th Opens at
              %th Due at
              %th Closes at
          %tbody
            - @assignment_offerings.each do |offering|
              %tr{ class: offering.visible? ? nil : 'warning' }
                %td
                  = offering.course_offering.crn
                  - if offering.course_offering.label
                    = surround '(', ')' do
                      = offering.course_offering.label
                %td= datetime_or_none offering.opens_at
                %td= datetime_or_none offering.due_at
                %td= datetime_or_none offering.closes_at
      - else
        .alert.alert-info
          - if @assignment_offerings.first.due_at
            This assignment is due at
            = succeed '.' do
              %strong= l @assignment_offerings.first.due_at
          - else
            This assignment is open forever.

      .assignment_description
        .row
          .span8
            = raw @description
    - if can? :edit, @assignment
      #grades.tab-pane
        - if can? :manage, @assignment
          = render partial: 'grades'
