<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @assignment.creator_id %>
</p>

<p>
  <b>Short name:</b>
  <%= @assignment.short_name %>
</p>

<p>
  <b>Long name:</b>
  <%= @assignment.long_name %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
