#course_enrollment_modal.modal.hide.fade
  = pythy_form_for @course_enrollment.course_offering, @course_enrollment,
    remote: true, html: { class: 'modal-form' } do |f|
    .modal-header
      = close_button_tag dismiss: 'modal'
      %h3 Add User Manually

    .modal-body.has-typeahead
      #flashbar-placeholder
      = f.label :user_id, 'User' do
        = f.hidden_field :user_id
        = text_field_tag :user_name, nil, class: 'input-xlarge typeahead-user', autocomplete: 'off'

      = f.collection_select :course_role_id, 'Role', CourseRole.all, :id, :name
      = hidden_field_tag :type, @type

    .modal-footer
      = f.submit
