#score_history_modal.modal.modal-wide.hide.fade
  .modal-header
    = close_button_tag dismiss: 'modal'
    %h3
      Score History for
      %strong= @assignment_repository.assignment_offering.assignment.short_name
      %small
        = surround '(', ')' do
          = @assignment_repository.assignment_offering.course_offering.course.number

  .modal-body
    #score-history-chart{ style: 'width: 770px; height: 350px;'}

  .modal-footer
    = button_tag 'Close', class: 'btn btn-primary', data: { dismiss: 'modal' }
