= pythy_form_for @term do |f|

  = f.label 'Season and Year' do |controls|
    = controls.select :season, Term::SEASONS, {}, class: 'span2'
    = controls.number_field :year, delimiter: '', class: 'span2'

  = f.date_field :starts_on, class: 'span2'

  = f.date_field :ends_on, class: 'span2'

  = f.actions do
    = f.submit
