%ul.breadcrumb
  %li.active
    Terms
  %li.pull-right
    = link_to 'New...', new_term_path

- if @terms.empty?
  %div.alert
    You have not yet created any terms.
    = link_to new_term_path do
      Click here to create one.
- else
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th.span6 Season and Year
        %th.span5 Time Period
        %th.span1= icon_tag('cog')
    %tbody
      - @terms.each do |term|
        %tr
          %td
            - if term.contains_now?
              %strong
                = link_to term.display_name, term
              (current)
            - else
              = link_to term.display_name, term
          %td
            = l term.starts_on
            to
            = l term.ends_on
          %td
            = link_to icon_tag('pencil'), edit_term_path(term)
            = link_to_destroy term
