%ul.breadcrumb
  %li
    = link_to 'Terms', terms_path
    %span.divider /
  %li.active
    = @term.display_name
  %li.pull-right
    = link_to edit_term_path(@term) do
      %i.icon-pencil
      Edit...

%h2
  = @term.display_name
  %small= "(#{l @term.starts_on} to #{l @term.ends_on})"
