<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @term.year %>
</p>

<p>
  <b>Season:</b>
  <%= @term.season %>
</p>

<p>
  <b>Starts on:</b>
  <%= @term.starts_on %>
</p>

<p>
  <b>Ends on:</b>
  <%= @term.ends_on %>
</p>


<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
