<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <% GlobalRole.all.each do |role| %>
    <%= check_box_tag :global_role_ids, role.id, @user.global_roles.include?(role), :name => 'user[global_role_ids][]' %>
    <%= role.name %>
  <% end %> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
