= twitter_bootstrap_form_for @user, html: { class: 'form-horizontal' } do |f|
  = form_errors @user

  = f.text_field :email
  = f.text_field :full_name
  = f.collection_select :institution_id, 'Institution', Institution.all, :id, :display_name, prompt: '(none)'
  = f.collection_select :global_role_id , 'Global Role', GlobalRole.all, :id, :name , :prompt => true

  = f.actions do
    = f.submit
