%tr
  %td
    = full_name_or_none(user, muted: true, query: true)
  %td
    = link_to user do
      = query_highlight(user.email)
  %td= user.global_role.name
  %td
    %span.dropdown
      = link_to icon_tag('cog'), '#', data: { toggle: 'dropdown' }
      %ul.dropdown-menu.pull-right
        %li= link_to icon_tag('pencil') + ' Edit...', edit_user_path(user)
        %li= link_to_destroy user, text: true
        %li= link_to icon_tag('user') + ' Impersonate...', impersonate_user_path(user)
