%ul.breadcrumb
  %li
    = link_to 'Users', users_path
    %span.divider /
  %li.active
    = @user.display_name
  %li.pull-right
    = link_to edit_user_path(@user) do
      %i.icon-pencil
      Edit

%table.table
  %tbody
    %tr
      %th Full Name
      %td= full_name_or_none(@user)
    %tr
      %th E-mail
      %td= @user.email
    %tr
      %th Global Role
      %td= @user.global_role.name
