= twitter_bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal' }) do |f|

  = f.email_field :email, class: 'input-medium'
  = f.password_field :password, class: 'input-medium'
  = f.password_field :password_confirmation, class: 'input-medium'
  = f.text_field :first_name, class: 'input-medium'
  = f.text_field :last_name, class: 'input-medium'

  = f.actions do
    = f.submit 'Sign up'
