<h1>Listing departments</h1>

<table>
  <tr>
    <th>Institution</th>
    <th>Name</th>
    <th>Abbreviation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= department.institution_id %></td>
    <td><%= department.name %></td>
    <td><%= department.abbreviation %></td>
    <td><%= link_to 'Show', department %></td>
    <td><%= link_to 'Edit', edit_department_path(department) %></td>
    <td><%= link_to 'Destroy', department, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Department', new_department_path %>
