%ul.breadcrumb
  %li
    = link_to 'Institutions', institutions_path
    %span.divider /
  %li
    = link_to @department.institution.display_name, @institution
    %span.divider /
  %li
    = link_to 'Departments', institution_departments_path(@department.institution)
    %span.divider /
  %li.active
    = @department.name
  %li.pull-right
    = link_to edit_department_path(@department) do
      %i.icon-pencil
      Edit...

%h2
  = @department.name
  %small
    = @department.abbreviation
    at
    = @department.institution.display_name

-# Table listing the departments belonging to the institution (and allowing
-# them to be modified
%h3
  = link_to 'Courses', department_courses_path(@department)

= render partial: 'courses/index', locals: { courses: @department.courses }
.pull-right
  = link_to 'Create a new course...', new_department_course_path(@department), class: 'btn btn-success'
