.container
  %h3 Course Staff and Enrolled Students
  
  - @offerings.each do |offering|
    .btn-header-container.clearfix
      %h4.slim.btn-line-height.pull-left 
        = offering.full_label
      
      .pull-right.dropdown
        = dropdown_button_tag icon_tag('plus') + ' Add users', class: 'btn'
        %ul.dropdown-menu
          %li
            = link_to 'Manually...', new_course_offering_course_enrollment_path(offering), remote: true
          %li
            = link_to 'Upload a roster...', upload_roster_path(offering), remote: true
  
    #course-enrollments-table
      = render partial: 'course_enrollments/table', locals: { enrollments: Kaminari.paginate_array(offering.course_enrollments).page(params["enrollments_" + offering.id.to_s + "_page"]) }
