.container
  = pythy_form_for offering.course, offering do |f|
  
    = f.collection_select :term_id, 'Term', Term.all, :id, :display_name
  
    = f.text_field :short_label do
      %span.help-block
        A short label that uniquely distinguishes this course offering
        from all other offerings of the same course during the term (for
        example, your university's course request, index, or section number).
        This label is also used to construct URLs for the course offering.
  
    = f.text_field :long_label, class: 'span6' do
      %span.help-block
        A longer descriptive label of your choice for this course offering.
        Good labels might include the day and time of the course offering.
  
    = f.text_field :url, class: 'span6' do
      %span.help-block
        An optional URL to an external site used by this offering of your
        course (for example, to a university LMS where the grade book is
        kept).
  
    = f.label nil do |controls|
      = controls.check_box :self_enrollment_allowed, 'Allow users to enroll in this course offering'
  
    = hidden_field_tag :source, 'settings_tab'
  
    = f.actions do
      = f.submit
