.assignment-tile-wrapper
  .assignment-tile.front{ href: assignment_url(not_started_assignment.assignment) }
    = assignment_date_tag(not_started_assignment)
    .assignment-short-name><= not_started_assignment.assignment.short_name
    .assignment-long-name><= not_started_assignment.assignment.long_name
  .assignment-tile.back
    = link_to code_path(not_started_assignment) do
      = icon_tag('laptop')
      Code
    = link_to not_started_assignment.assignment do
      = icon_tag('list-ol')
      Description
