= link_to code_path(not_started_assignment), class: 'btn btn-block assignment' do
  .assignment-title
    = succeed ':' do
      = not_started_assignment.assignment.short_name
    = not_started_assignment.assignment.long_name
  .subtext
    = assignment_date_wrapper(not_started_assignment) do
      %i.icon-calendar
      = assignment_date_text(not_started_assignment)
