- repository = started_assignment.repository_for_user(current_user)
- most_recent_check = repository.assignment_checks.most_recent

= link_to code_path(started_assignment), class: 'btn btn-block assignment started' do
  .assignment-title
    = succeed ':' do
      = started_assignment.assignment.short_name
    = started_assignment.assignment.long_name

  .subtext
    = assignment_date_wrapper(started_assignment) do
      %i.icon-calendar
      = assignment_date_text(started_assignment)

  .subtext
    Last edited
    = distance_of_time_in_words_to_now(repository.updated_at)
    ago

  = score_tile(most_recent_check)
