.jumbo-title
  .container
    .row
      .span8
        %h1.slim
          = @course.number
        %p.lead
          = @course.name
                    
= render partial: 'flashbar'

.container
  %ul.nav.nav-tabs
    = tab_tag 'assignments-tab', icon_tag('laptop') + ' Assignments', active: true
    = tab_tag 'users-tab', icon_tag('group') + ' Users'
    = tab_tag 'grades-tab', icon_tag('tasks') + ' Grades'
    - @offerings.each do |offering|      
      - if can? :edit, offering
        = tab_tag 'settings-tab', icon_tag('cog') + ' Settings'
        - break

.tab-content
  #assignments-tab.tab-pane.active
    = render partial: 'course_staff_assignments'
  #users-tab.tab-pane
    = render partial: 'course_staff_users'
  #grades-tab.tab-pane
    = render partial: 'course_staff_grades'
  #settings-tab.tab-pane
    = render partial: 'course_staff_settings'
    - @offerings.each do |offering|
      - if can? :edit, offering
        = render partial: 'course_staff_offering_settings', locals: { offering: offering }
    
