.jumbo-title
  .container
    .row
      .span8
        %h1.slim
          Courses
        %p.lead
= render partial: 'flashbar'

.container
  .row
    .span6
      - if @current_user_courses.empty?
        %h2 Welcome to Pythy!
        %p.lead
          You are not currently enrolled in any courses on Pythy.
          To get started, you can try to find your course listed by
          selecting your school/organization and then the term in which
          your course is being held to the right.
        %p.lead
          If you do not find your course listed, your instructor may have
          not yet set it up, or he or she may be choosing to enroll students
          manually.
      - else
        #enrolled-courses-list
          %h2 Enrolled Courses
          - keys = @current_user_courses.keys
          - keys.sort!{|a,b| b <=> a}
          - keys.each do |term_id|
            - term = Term.find(term_id.to_i)
            %h3.slim
              = term.display_name
            - @current_user_courses[term_id].each do |course|
              = link_to home_path(course, term: term) do
                %h4.slim
                  = course.number 
                  %span.lead
                    = ' - ' + course.name
            %br

    .span6
      %h2 Enroll in a new course
      = render partial: 'self_enrollment/select_organization', locals: { organizations: @organization_list }
