.jumbo-title
  .container
    .row
      .span8
        %h1.slim
          = @course.number
        %p.lead
          = @course.name
      .span4
        .pull-right
          %span.btn-aligned Viewing:
          .btn-group
            %a.btn.btn-inverse.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }}
              - if params[:offering]
                = @offerings.first.full_label
              - else
                = "All #{@offerings.first.term.display_name} offerings"
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                = link_to "All #{@offerings.first.term.display_name} offerings", home_path(@course, term: @offerings.first.term)
              %li.divider
              %li.nav-header
                = "#{@offerings.first.term.display_name} Offerings"
              - @offerings.each do |co|
                %li
                  = link_to co.full_label, home_path(co)

          - if can? :edit, @offerings.first
            - if params[:offering]
              = link_to icon_tag('cog'), course_offering_path(@offerings.first), class: 'btn btn-inverse', title: 'Manage this course offering', rel: 'tooltip'
            - elsif
              = link_to icon_tag('cog'), course_path(@offerings.first.course), class: 'btn btn-inverse', title: 'Manage this course', rel: 'tooltip'

.container
  .row
    .span7
      .btn-header-container.clearfix
        %h3.pull-left.slim.btn-line-height Assignments
        - if @offerings.any? { |o| o.role_for_user(current_user).can_manage_assignments? }
          .pull-right
            = link_to icon_tag('plus') + ' New...', new_course_offering_assignment_offering_path(@offerings.first), class: 'btn', remote: true

      #assignments
        = render(partial: 'home/instructor_assignment', collection: @assignments) || render(partial: 'home/no_assignments')


    .span5
      .btn-header-container.clearfix
        %h3.pull-left.slim.btn-line-height Instructor Examples
        - if @offerings.any? { |o| o.role_for_user(current_user).can_manage_assignments? }
          .pull-right
            = link_to icon_tag('plus') + ' New...', new_course_offering_example_repository_path(@offerings.first), class: 'btn', remote: true

      %table.examples
        %tbody#example_repositories
          = render(@examples) || render(partial: 'example_repositories/empty')
