%h2.slim
  = @course.number
  %small
    = @offerings.first.term.display_name
    = surround '(', ')' do
      = raw @offerings.map { |o| link_to_if(o.crn.to_s != params[:crn], o.crn, home_path(o)) }.join(', ')
    - if @offerings.count == 1 && can?(:edit, @offerings.first)
      = link_to 'Manage', course_offering_path(@offerings.first)
    - elsif @offerings.count > 1
      = link_to 'Manage', course_path(@offerings.first.course)

.row
  .span7
    %h3 Assignments

    %p
      = link_to 'Create a new assignment...', new_course_offering_assignment_offering_path(@offerings.first), class: 'btn btn-success btn-block', remote: true

    #assignments.clearfix><
      = render(partial: 'home/instructor_assignment', collection: @assignments) || render(partial: 'home/no_assignments')
    

  .span5
    %h3 Instructor Examples
    - if can? :manage, @offerings.first
      %p
        = link_to 'Create a new example...', new_course_offering_example_repository_path(@offerings.first), class: 'btn btn-success btn-block', remote: true
    %table.examples
      %tbody#example_repositories
        -# FIXME should be the union of all offerings' examples below
        = render(@examples) || render(partial: 'example_repositories/empty')
