%h2
  = @course.department_name_and_number
  %small
    = @offerings.first.term.display_name
    = surround '(', ')' do
      = raw @offerings.map { |o| link_to_if(o.crn.to_s != params[:crn], o.crn, course_offering_home_path(o)) }.join(', ')

.row
  .span7
    %h3 Recent Work
    -# if recent work
    = render partial: 'started_assignment'
    = render partial: 'started_assignment'
    -# else
    %div.alert.alert-info
      You haven't started any assignments yet in this course. As you
      work on assignments, they will be listed here, with the most
      recent work shown at the top.

  .span5
    %h3 Not Yet Started
    = link_to 'Create a new assignment...', '#', class: 'btn btn-success btn-block'
    -# if assignments exist
    = render partial: 'not_started_assignment'
    = render partial: 'not_started_assignment'
    -# else
    %div.alert.alert-info
      The course instructor hasn't made any assignments available yet.        
    
    %h3 Instructor Examples
    - if can? :manage, @offerings.first
      = link_to 'Create a new example...', new_course_offering_example_repository_path(@offerings.first), class: 'btn btn-success btn-block', remote: true
    %table.examples
      %tbody#example_repositories
        -# FIXME should be the union of all offerings' examples below
        = render(@offerings.first.example_repositories) || render(partial: 'example_repositories/empty')
