.span3
  %h4 Starter Files
  = render partial: 'file_list', locals: { path: 'starter' }
.span3
  %h4 Reference Tests
  = render partial: 'file_list', locals: { path: 'test' }
.span3
  %h4 Solution
  = render partial: 'file_list', locals: { path: 'solution' }
.span3
  %h4 Student View
  %ul.unstyled
    - @repository.assignment.assignment_offerings.each do |ao|
      %li 
        = ao.course_offering.short_label + ": " + ao.course_offering.long_label
      %li
        = icon_tag('file')
        = link_to "main.py", code_path(ao)
      %br