
.section-header
  Starter Files
.container-fluid
  = render partial: 'file_list', locals: { path: 'starter' }

.section-header
  Reference Tests
.container-fluid  
  = render partial: 'file_list', locals: { path: 'test' }
    
.section-header
  Solution
.container-fluid
  = render partial: 'file_list', locals: { path: 'solution' }

.section-header
  Student View
.container-fluid
  %ul.unstyled
    - @repository.assignment.assignment_offerings.each do |ao|
      %li 
        = ao.course_offering.short_label + ": " + ao.course_offering.long_label
      %li
        = icon_tag('file')
        = link_to "main.py", code_path(ao)
      %br