<%= form_for(@global_role) do |f| %>
  <% if @global_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@global_role.errors.count, "error") %> prohibited this global_role from being saved:</h2>

      <ul>
      <% @global_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.check_box :can_edit_system_configuration %>
    <%= f.label :can_edit_system_configuration %>
  </div>
  <div class="field">
    <%= f.check_box :can_manage_all_courses %>
    <%= f.label :can_manage_all_courses %>
  </div>
  <div class="field">
    <%= f.check_box :can_manage_own_courses %>
    <%= f.label :can_manage_own_courses %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
