= twitter_bootstrap_form_for @global_role, :html => { :class => 'form-horizontal'} do |f|
  = f.fieldset title do
    = f.text_field :name, 'Name'

    = f.label 'Permissions' do |controls|
      = controls.check_box :can_manage_own_courses, 'Manage own courses'
      = controls.check_box :can_manage_all_courses, 'Manage all courses'
      = controls.check_box :can_edit_system_configuration, 'Edit system configuration'

  = f.actions do 
    = f.submit 'Save changes' 
