<h1>Listing global_roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @global_roles.each do |global_role| %>
  <tr>
    <td><%= global_role.name %></td>
    <td><%= link_to 'Show', global_role %></td>
    <td><%= link_to 'Edit', edit_global_role_path(global_role) %></td>
    <td><%= link_to 'Destroy', global_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New global role', new_global_role_path %>
