#example_repositories_modal.modal.hide.fade
  = pythy_form_for @example_repository.course_offering, @example_repository,
    remote: true, html: { class: 'modal-form' } do |f|
    .modal-header
      = close_button_tag dismiss: 'modal'
      %h3 New Example

    .modal-body
      #flashbar-placeholder

      = f.text_field :name, class: 'input-xlarge'
      = f.text_area :description, rows: 5, class: 'input-xlarge'

      .control-group
        .controls
          %label.checkbox
            = check_box_tag :add_to_all_offerings
            Share across all offerings in the term

    .modal-footer
      = f.submit
