%ul.breadcrumb
  %li
    = link_to 'Environments', environments_path
    %span.divider /
  %li.active
    = @environment.name
  %li.pull-right
    = link_to edit_environment_path(@environment) do
      %i.icon-pencil
      Edit...

%h2
  = @environment.name

%h3 Preamble
%p
  The Python statements below are inserted at the top of any code executed
  by Pythy.
%pre= @environment.preamble
