- if courses.empty?
  %div.alert
    This department does not have any courses.
    = link_to new_department_course_path(@department) do
      Click here to create one.
- else
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th.span3 Course Number
        %th.span8 Title
        %th.span1= icon_tag('cog')
    %tbody
      - courses.each do |course|
        %tr
          %td= link_to course.department_name_and_number, course
          %td= course.name
          %td
            = link_to icon_tag('pencil'), edit_course_path(course)
            = link_to_destroy course
