%ul.breadcrumb
  %li
    = link_to 'Institutions', institutions_path
    %span.divider /
  %li
    = link_to @department.institution.display_name, @department.institution
    %span.divider /
  %li
    = link_to 'Department', institution_departments_path(@department.institution)
    %span.divider /
  %li
    = link_to @department.name, department_path(@department)
    %span.divider /
  %li.active
    Courses
  %li.pull-right
    = link_to 'New...', new_department_course_path(@department)

= render partial: 'courses/index', locals: { courses: @courses }
