.pull-right
  = link_to icon_tag('pencil') + ' Edit', edit_course_path(@course), class: 'btn'

%h2.page-header
  = @course.number
  %small
    = @course.name

%p
  = link_to 'Create a new offering of this course...', new_course_course_offering_path(@course)

= render partial: 'course_offerings/index', locals: { course_offerings: @grouped_offerings }
