%ul.breadcrumb
  %li
    = link_to @course_offering.course.department.institution.display_name, @course_offering.course.department.institution
    %span.divider /
  %li
    = link_to @course_offering.course.department.name, department_path(@course_offering.course.department)
    %span.divider /
  %li
    = link_to @course_offering.course.department_name_and_number, course_path(@course_offering.course)
    %span.divider /
  %li.active
    = @course_offering.crn
    (editing)

= render 'form'
