<h1>Listing course_offerings</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Semester</th>
    <th>Crn</th>
    <th>Label</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_offerings.each do |course_offering| %>
  <tr>
    <td><%= course_offering.course_id %></td>
    <td><%= course_offering.term_id %></td>
    <td><%= course_offering.crn %></td>
    <td><%= course_offering.label %></td>
    <td><%= course_offering.url %></td>
    <td><%= link_to 'Show', course_offering %></td>
    <td><%= link_to 'Edit', edit_course_offering_path(course_offering) %></td>
    <td><%= link_to 'Destroy', course_offering, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Modify course enrollments', course_enrollments_path %>
<%= link_to 'New Course offering', new_course_offering_path %>
