.pull-right
  = link_to icon_tag('pencil') + ' Edit', edit_course_offering_path(@course_offering), class: 'btn'

%h2.page-header
  = @course_offering.course.number
  = surround '(', ')' do
    = @course_offering.short_label
  %small
    - if @course_offering.long_label.blank?
      = @course_offering.term.display_name
    - else
      = succeed ',' do
        = @course_offering.term.display_name
      = @course_offering.long_label

.clearfix
  %h3.pull-left Course Staff and Enrolled Students
  .pull-right.dropdown
    = dropdown_button_tag 'Add Users', class: 'btn btn-primary'
    %ul.dropdown-menu
      %li
        = link_to 'Manually...', new_course_offering_course_enrollment_path(@course_offering), remote: true
      %li
        = link_to 'Upload a roster...', upload_roster_path(@course_offering), remote: true

#staff-enrollments-table
  = render partial: 'course_enrollments/table', locals: { enrollments: @course_enrollments }
