%ul.breadcrumb
  %li
    = link_to @course_offering.course.department.institution.display_name, @course_offering.course.department.institution
    %span.divider /
  %li
    = link_to @course_offering.course.department.name, department_path(@course_offering.course.department)
    %span.divider /
  %li
    = link_to @course_offering.course.department_name_and_number, course_path(@course_offering.course)
    %span.divider /
  %li.active
    = @course_offering.crn
    = surround '(', ')' do
      = @course_offering.term.display_name
  %li.pull-right
    = link_to edit_course_offering_path(@course_offering) do
      %i.icon-pencil
      Edit...

%h2.page-header
  = @course_offering.course.department_name_and_number
  = surround '(', ')' do
    = @course_offering.crn
  %small
    = succeed ',' do
      = @course_offering.term.display_name
    = @course_offering.label

.clearfix
  %h3.pull-left Course Staff and Enrolled Students
  = link_to 'Add users...', new_course_offering_course_enrollment_path(@course_offering), class: 'btn btn-primary pull-right', remote: true

#staff-enrollments-table
  = render partial: 'course_enrollments/table'
