%ul.breadcrumb
  %li
    = link_to @course_offering.course.institution.display_name, @course_offering.course.institution
    %span.divider /
  %li
    = link_to @course_offering.course.number, course_path(@course_offering.course)
    %span.divider /
  %li.active
    = @course_offering.crn
    = surround '(', ')' do
      = @course_offering.term.display_name
  %li.pull-right
    = link_to edit_course_offering_path(@course_offering) do
      %i.icon-pencil
      Edit...

%h2.page-header
  = @course_offering.course.number
  = surround '(', ')' do
    = @course_offering.crn
  %small
    = succeed ',' do
      = @course_offering.term.display_name
    = @course_offering.label

.clearfix
  %h3.pull-left Course Staff and Enrolled Students
  .pull-right.dropdown
    = dropdown_button_tag 'Add Users', class: 'btn btn-primary'
    %ul.dropdown-menu
      %li
        = link_to 'Manually...', new_course_offering_course_enrollment_path(@course_offering), remote: true
      %li
        = link_to 'Upload a roster...', upload_roster_path(@course_offering), remote: true

#staff-enrollments-table
  = render partial: 'course_enrollments/table'
