- title raw @page_title

#workspace
  #code-area
    #code-loading-overlay
      = icon_tag('spinner', 'spin')
      Loading...
    = text_area_tag :codearea, nil, data: @code_area_data
    
  #dock
  
    %table#top-tools
      %tr
        %td
          #save-state-icon{'style' => 'color: grey;'}
            = icon_tag('check')
        %td    
          #save-state-message{'align' => 'center', 'style' => 'color: grey; line-height: 25px;'}
            saved
        %td{width: "100%"}
          
        %td.btn-group-parent
          .btn-group.btn-group-horizontal
            = action_button_tag id: 'run', icon: 'play', class: 'btn btn-success', tooltip: 'Run your code and see its output'
            
            - if @repository.can_check?(current_user)
              = action_button_tag id: 'check', icon: 'magic', class: 'btn', disabled: @repository.assignment_offering.closed?, tooltip: 'Check your work to see how well you are doing'
  
            = action_button_tag id: 'media', icon: 'cloud', class: 'btn-info', tooltip: 'Upload and manage your media files'
            
            - if @repository.can_sync?(current_user)
              = action_button_tag id: 'sync', icon: 'refresh', class: 'btn-warning', tooltip: 'Automatic updates stop when you start typing, so that the instructor\'s typing doesn\'t clobber yours. Click this button to pull the instructor\'s latest version and resume automatic updates.'
  
            - if @repository.environment_id
              = link_to icon_tag('globe'), 'javascript:void(0)', id: 'change-environment', class: 'btn', rel: 'tooltip', title: 'Change environment', data: {placement: 'bottom'}
    
            - if @repository.is_a?(AssignmentReferenceRepository) && can?(:edit, @repository.assignment)
              = link_to edit_assignment_path(@repository.assignment), class: 'btn', title: 'Edit description and date', rel: 'tooltip' do
                = icon_tag('pencil')
  
    = render_class_partial @repository, 'summary'
    
    - if class_partial_exists?(@repository, 'related_files')
      #files.tab-pane
        .container-fluid{'style' => "padding-left: 0;"}
          = render_class_partial @repository, 'related_files'
    
    .section-header
      History
    %table#history-table.table.table-condensed
      %tbody
      %tfoot
        %tr
          %td.next-page{ colspan: 2, data: { :'appear-top-offset' => '40' }, height: 0}
            = icon_tag('refresh')
            Earlier history
    
  
  #console-resize-bar
    %div{'align' => 'center'}
      \. . .
  
  #console
    #console-content
      %span.muted
        You haven't run your code yet. When you do, this console is where
        its output will be displayed and where you will be asked to enter
        any input that your program requests.
    %i#console-spinner.fa-spinner.fa-lg.fa-spin
    