- title raw @page_title

#action-bar
  .btn-group-parent
    .btn-group.btn-group-vertical
      = action_button_tag id: 'run', icon: 'play', class: 'btn-success', tooltip: 'Run your code and see its output'
      - if @repository.can_check?(current_user)
        = action_button_tag id: 'check', icon: 'magic', class: 'btn', disabled: @repository.assignment_offering.closed?, tooltip: 'Check your work to see how well you are doing'
      / - if @repository.resettable?
      /   = button_tag id: 'more-options', class: 'btn dropdown-toggle', disabled: @repository.assignment_offering.closed?, data: { toggle: 'dropdown' } do
      /     = icon_tag('cog')
      /     %span.caret
      /   %ul.dropdown-menu.pull-right
      /     %li
      /       %a{ href: '#', id: 'start-over' }
      /         = icon_tag('remove') + ' Start over...'
      = action_button_tag id: 'media', icon: 'cloud', class: 'btn-info', tooltip: 'Upload and manage your media files'
  - if @repository.can_sync?(current_user)
    #sync-button-group.btn-group-parent.hide
      = action_button_tag id: 'sync', icon: 'refresh', class: 'btn-warning', tooltip: 'Automatic updates stop when you start typing, so that the instructor\'s typing doesn\'t clobber yours. Click this button to pull the instructor\'s latest version and resume automatic updates.'

#code-area
  = text_area_tag :codearea, nil, data: { :channel => @subscribe_channel, :editor => can?(:update, @repository), :'user-media-key' => current_user.resource_key }

- # Docked tab area
#dock.tabbable.tabs-left
  %ul.nav.nav-tabs
    = tab_tag 'summary', active: true do
      = icon_tag('dashboard')
      %span.hidden-phone Summary
    = tab_tag 'console' do
      = icon_tag('desktop')
      %span.hidden-phone Console
    = tab_tag 'history' do
      = icon_tag('time')
      %span.hidden-phone History
    - if class_partial_exists?(@repository, 'related_files')
      = tab_tag 'files' do
        = icon_tag('copy')
        %span.hidden-phone Related
  .tab-content
    #summary.tab-pane.active
      = render_class_partial @repository, 'summary'
    
    #console.tab-pane
      #console-content
        %span.muted
          You haven't run your code yet. When you do, this console is where
          its output will be displayed and where you will be asked to enter
          any input that your program requests.
      %i#console-spinner.icon-spinner.icon-large.icon-spin

    #history.tab-pane
      %table#history-table.table.table-condensed.table-striped
        %tbody
        %tfoot
          %tr
            %td.next-page{ colspan: 2, data: { :'appear-top-offset' => '40' } }
              %i.icon-refresh
              Earlier history

    - if class_partial_exists?(@repository, 'related_files')
      #files.tab-pane
        .container-fluid
          .row-fluid
            = render_class_partial @repository, 'related_files'
