= pythy_form_for @organization do |f|

  = f.text_field :display_name do
    %span.help-block
      The full displayable name of the organization.

  = f.text_field :abbreviation

  .controls
    .alert.alert-info#url_part

  = f.actions do
    = f.submit
