.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to root_url, class: 'brand hidden-phone' do
        %span.hidden-phone Pythy
      %ul.nav
        %li.dropdown.nav-courses
          = dropdown_tag do
            = icon_tag('home icon-large')
            - if @course
              = @course.number
            - else
              Courses
            %span.caret
          %ul.dropdown-menu
            - Term.latest_first.each do |term|
              - offerings = current_user.course_offerings.where(term_id: term.id)
              - if offerings.any?
                %li.nav-header
                  Courses You Are In During
                  = term.display_name
                - offerings.each do |offering|
                  %li
                    = link_to home_path(offering) do
                      %strong= offering.course.number
                      \-
                      = offering.course.name
                      = surround '(', ')' do
                        = offering.short_label
        %li.nav-book
          %a{ href: 'http://interactivepython.org/courselib/static/thinkcspy/index.html', target: '_blank' }
            %i.icon-book.icon-large
            %span.hidden-phone Book
      %ul.nav.pull-right
        - if can_manage_anything?
          %li.dropdown.nav-settings
            = dropdown_tag do
              %i.icon-wrench.icon-large
              %i.icon-caret-down.hidden-phone
            %ul.dropdown-menu
              %li.nav-header Manage
              = menu_link_to_if can?(:manage, User), icon_tag('user') + ' Users', users_path
              = menu_link_to_if can?(:manage, Organization), icon_tag('sitemap') + ' Organizations', organizations_path
              = menu_link_to_if can?(:manage, Term), icon_tag('calendar') + ' Terms', terms_path                
              %li.divider
              = menu_link_to_if can?(:manage, GlobalRole), icon_tag('key') + ' Global Roles', global_roles_path
              = menu_link_to_if can?(:manage, CourseRole), icon_tag('key') + ' Course Roles', course_roles_path
              = menu_link_to_if can?(:manage, Environment), icon_tag('globe') + ' Environments', environments_path                
              = menu_link_to_if can?(:manage, SystemConfiguration), icon_tag('cogs') + ' System Configuration', edit_system_configuration_path
        - if current_user
          %li.dropdown.nav-user
            = dropdown_tag do
              = image_tag(current_user.gravatar_url(size: 30))
              %span.hidden-phone
                = current_user.display_name
              %i.icon-caret-down.hidden-phone
            %ul.dropdown-menu
              %li= link_to icon_tag('user') + ' Account Settings', edit_registration_path(current_user)
              %li.divider
              - if session[:original_user]
                %li= link_to icon_tag('signout') + ' Unimpersonate', unimpersonate_users_path
              - else 
                %li= link_to icon_tag('signout') + ' Sign Out', destroy_user_session_path, method: :delete
