.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to root_url, class: 'brand hidden-phone' do
        %span.hidden-phone Pythy
      %ul.nav
        - if current_user
          %li.dropdown.nav-courses
            - latest_term_id = current_user.course_offerings.pluck(:term_id).max
            - latest_offerings = current_user.course_offerings.where(term_id: latest_term_id)
            - if (latest_offerings.count == 1)
              = link_to home_path(latest_offerings.first) do
                %i.icon-home.icon-large
                %span.hidden-phone
                  = latest_offerings.first.course.number
            - else
              = dropdown_tag do
                = icon_tag('home icon-large')
                %span.hidden-phone
                  - if @course
                    = @course.number
                  - else
                    Courses
                %i.icon-caret-down
              %ul.dropdown-menu
                - Term.latest_first.each do |term|
                  - offerings = current_user.course_offerings.where(term_id: term.id)
                  - if offerings.any?
                    %li.nav-header
                      Courses You Are In During
                      = term.display_name
                    - offerings.each do |offering|
                      %li
                        = link_to home_path(offering) do
                          %strong= offering.course.number
                          \-
                          = offering.course.name
                          = surround '(', ')' do
                            = offering.short_label
                  - else
                    %li.nav-header
                      You aren't enrolled in any courses
                      
          %li.nav-scratchpad
            = link_to '/code/scratchpad' do
              %i.icon-edit-sign.icon-large
              %span.hidden-phone Scratchpad
              
      %ul.nav.pull-right
        - if can_manage_anything?
          %li.dropdown.nav-settings
            = dropdown_tag do
              %i.icon-wrench.icon-large
              %i.icon-caret-down.hidden-phone
            %ul.dropdown-menu
              %li.nav-header Manage
              = menu_link_to_if can?(:manage, User), icon_tag('user') + ' Users', users_path
              = menu_link_to_if can?(:manage, Organization), icon_tag('sitemap') + ' Organizations', organizations_path
              = menu_link_to_if can?(:manage, Term), icon_tag('calendar') + ' Terms', terms_path                
              %li.divider
              = menu_link_to_if can?(:manage, GlobalRole), icon_tag('key') + ' Global Roles', global_roles_path
              = menu_link_to_if can?(:manage, CourseRole), icon_tag('key') + ' Course Roles', course_roles_path
              = menu_link_to_if can?(:manage, Environment), icon_tag('globe') + ' Environments', environments_path                
              = menu_link_to_if can?(:manage, SystemConfiguration), icon_tag('cogs') + ' System Configuration', edit_system_configuration_path
        - if current_user
          %li.nav-user
            = link_to edit_registration_path(current_user) do
              = image_tag(current_user.gravatar_url(size:30))
              %span.hidden-phone
                = current_user.display_name
          %li.nav-logout
            - if session[:original_user]
              = link_to unimpersonate_users_path, title: "Unimpersonate User" do
                %i.icon-signout.icon-large
              
            - else 
              = link_to destroy_user_session_path, title: "Logout", method: :delete do
                %i.icon-signout.icon-large
