.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to root_url, class: 'brand hidden-phone' do
        %span.hidden-phone Pythy
      %ul.nav
        - if current_user
        
          - if @course && @term            
            %li.nav-courses
              = link_to home_path(@course, term: @term) do
                = icon_tag('home', 'lg')
                %span.hidden-phone
                  = @course.number
        
          - elsif current_user.current_term_id && current_user.current_course_id
            %li.nav-courses
              - current_course = Course.find_by_id(current_user.current_course_id)
              - current_term = Term.find_by_id(current_user.current_term_id)
              = link_to home_path(current_course, term: current_term) do
                = icon_tag('home', 'lg')
                %span.hidden-phone
                  = current_course.number
        
          - else
            - if !@current_user_courses
              - @current_user_courses = current_user.courses
            %li.dropdown.nav-courses              
              = dropdown_tag do
                = icon_tag('home', 'lg')
                %span.hidden-phone
                  Courses
                = icon_tag('caret-down')
                
              %ul.dropdown-menu
                - if current_user.course_offerings.any?
                  - keys = @current_user_courses.keys
                  - keys.sort!{|a,b| b <=> a}
                  - keys.each do |term_id|
                    - term = Term.find(term_id.to_i)
                    %li.nav-header
                      Courses You Are In During
                      = term.display_name
                    - @current_user_courses[term_id].each do |course|
                      %li
                        = link_to home_path(course, term: term) do
                          %strong= course.number
                          \-
                          = course.name
                - else
                  %li.nav-header
                    You aren't enrolled in any courses
                      
                      
          %li.nav-scratchpad
            = link_to '/code/scratchpad' do
              = icon_tag('edit', 'lg')
              %span.hidden-phone Scratchpad
              
      %ul.nav.pull-right
        - if can_manage_anything?
          %li.dropdown.nav-settings
            = dropdown_tag do
              = icon_tag('wrench', 'lg')
              = icon_tag('caret-down')
            %ul.dropdown-menu
              %li.nav-header Manage
              = menu_link_to_if can?(:manage, User), icon_tag('user') + ' Users', users_path
              = menu_link_to_if can?(:manage, Organization), icon_tag('sitemap') + ' Organizations', organizations_path
              = menu_link_to_if can?(:manage, Term), icon_tag('calendar') + ' Terms', terms_path                
              %li.divider
              = menu_link_to_if can?(:manage, GlobalRole), icon_tag('key') + ' Global Roles', global_roles_path
              = menu_link_to_if can?(:manage, CourseRole), icon_tag('key') + ' Course Roles', course_roles_path
              = menu_link_to_if can?(:manage, Environment), icon_tag('globe') + ' Environments', environments_path
              - scTitle = nil
              - if SystemConfiguration.count == 0
                - scTitle = "You must create a System Configuration in order for pythy to work properly."
                %span{'style' => 'color: red; position: absolute; left: 10px; bottom: 8px; font-weight: bold; font-size: 18px;'}
                  = "!"
              = menu_link_to_if( can?(:manage, SystemConfiguration), icon_tag('cogs') + ' System Configuration', edit_system_configuration_path, :title => scTitle)
        - if current_user
          %li.nav-user
            = link_to edit_registration_path(current_user) do
              = image_tag(current_user.gravatar_url(size:30))
              %span.hidden-phone
                = current_user.display_name
          %li.nav-logout
            - if session[:original_user]
              = link_to unimpersonate_users_path, title: "Unimpersonate User" do
                = icon_tag('sign-out', 'lg')
              
            - else 
              = link_to destroy_user_session_path, title: "Logout", method: :delete do
                = icon_tag('sign-out', 'lg')
