!!!
%html
  %head
    %title Pythy
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      %p= notice
      %p= alert
      = yield
