!!!
%html
  %head
    %title Pythy
    = stylesheet_link_tag 'application', media: 'all'
    = controller_stylesheet_link_tag
    = javascript_include_tag 'application'
    = controller_javascript_include_tag
    = csrf_meta_tags
    = favicon_link_tag
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: '#'} Pythy
          %ul.nav
            = nav_item_tag :home do
              %i.icon-home.icon-large
              %span.hidden-phone Home
            = nav_item_tag :code do
              %i.icon-edit.icon-large
              %span.hidden-phone Code
            %li
              %a{href: '#'}
                %i.icon-book.icon-large
                %span.hidden-phone Textbook
          - if current_user
            %ul.nav.pull-right
              %li.dropdown
                = dropdown_tag do
                  %i.icon-user.icon-large
                  %span.hidden-phone= current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{href: "#"} Action
                  %li
                    %a{href: "#"} Another action
                  %li
                    %a{href: "#"} Something else here
                  %li.divider
                  %li
                    = link_to 'Sign out', destroy_user_session_path, method: :delete
    #main-container.container
      #main-container-inner
        = yield
