!!!
%html
  %head
    %title!= content_for?(:title) ? 'Pythy &ndash; ' + content_for(:title) : 'Pythy'
    = stylesheet_link_tag 'application', media: 'all'
    = controller_stylesheet_link_tag
    = javascript_include_tag 'application'
    = google_api_javascript_include_tag
    = juggernaut_javascript_include_tag
    = controller_javascript_include_tag
    = skulpt_javascript_include_tags
    = csrf_meta_tags
    = favicon_link_tag '/favicon.png', type: 'image/png'
  %body
    = render partial: 'navbar'
    #main-container.container
      #main-container-inner
        = yield

    = render partial: 'flashbar'
