!!!
%html
  %head
    %title!= 'Pythy &ndash; Error'
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'errors', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'errors'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.png', type: 'image/png'
  %body
    = render partial: 'navbar'
    .container
      #main-container-inner
        .row
          .span10.offset1
            .well
              = yield
