!!!
%html
  %head
    %title!= 'Welcome to Pythy'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'application', media: 'all'
    = controller_stylesheet_link_tag
    = javascript_include_tag 'application'
    = controller_javascript_include_tag
    = csrf_meta_tags
    = favicon_link_tag '/favicon.png', type: 'image/png'
  %body.landing
    .jumbo-title
      .container
        %h1
          Pythy
          %small the online Python learning environment
    = render partial: 'flashbar'
    = yield
