!!!
%html
  %head
    %title Pythy
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Pythy', root_url, :class => 'brand'
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-caret-down
                %span CS 1024 
              %ul.dropdown-menu
                %li.nav-header CS 1024 Settings
                %li
                  %a{:href => "#"} Edit course
                %li
                  %a{:href => "#"} Manage assignments
                %li.nav-header Select a different course 
                %li.active
                  %a{:href => "#"}
                    %strong CS 1024 - 
                    Intro to COBOL 
                %li
                  %a{:href => "#"}
                    %strong CS 1034 - 
                    Intro to Pascal
            %li{:class => ("active" if params[:controller] == 'home')}
              %a{:href => url_for(:controller => 'home')}
                %i.icon-home.icon-large
                %span.hidden-phone Home
            %li{:class => ("active" if params[:controller] == 'code')}
              %a{:href => url_for(:controller => 'code')}
                %i.icon-edit.icon-large
                %span.hidden-phone Code
            %li{:class => ("active" if params[:controller] == 'code')}
              %a{:href => url_for(:controller => 'code')}
                %i.icon-bar-chart.icon-large
                %span.hidden-phone Grade 
            %li{:class => ("active" if params[:controller] == 'code')}
              %a{:href => url_for(:controller => 'code')}
                %i.icon-bar-chart.icon-large
                %span.hidden-phone View 
            / %li
            /   %a{:href => "#contact"}
            /     %i.icon-book.icon-large
            /     %span.hidden-phone Textbook
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-wrench.icon-large
                %span.hidden-phone.hidden-tablet Administration 
                %i.icon-caret-down
              %ul.dropdown-menu
                %li.nav-header Configure
                %li
                  = link_to 'Users', users_path
                %li
                  = link_to 'Global roles', global_roles_path 
                %li
                  %a{:href => "#"} Course-specific roles 
                %li
                  = link_to 'Institutions', institutions_path 
                %li.nav-header Manage 
                %li
                  %a{:href => "#"} Courses 
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-user.icon-large
                %span.hidden-phone
                  = current_user.email
                %i.icon-caret-down
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}
                    %i.icon-cog
                    Account settings 
                %li.divider
                %li
                  = link_to destroy_user_session_path, :method => :delete do
                    %i.icon-signout
                    Sign out 
    #main-container.container
      #main-container-inner
        = yield

