!!!
%html
  %head
    %title Pythy
    = stylesheet_link_tag 'application', media: 'all'
    = controller_stylesheet_link_tag
    = javascript_include_tag 'application'
    = controller_javascript_include_tag
    = csrf_meta_tags
    = favicon_link_tag
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Pythy', root_url, class: 'brand'
          %ul.nav
            %li.dropdown
              = dropdown_tag do
                %i.icon-caret-down
                %span CS 1024 
              %ul.dropdown-menu
                %li.nav-header CS 1024 Settings
                %li
                  %a{href: "#"} Edit course
                %li
                  %a{href: "#"} Manage assignments
                %li.nav-header Select a different course 
                %li.active
                  %a{href: "#"}
                    %strong CS 1024 - 
                    Intro to COBOL 
                %li
                  %a{href: "#"}
                    %strong CS 1034 - 
                    Intro to Pascal
            = nav_item_tag :code do
              %i.icon-edit.icon-large
              %span.hidden-phone Code
            = nav_item_tag :code do
              %i.icon-bar-chart.icon-large
              %span.hidden-phone Grade 
            %li
              %a{href: '#'}
                %i.icon-book.icon-large
                %span.hidden-phone Book
          %ul.nav.pull-right
            / FIXME this menu should disappear if no permissions are met (pending figuring
            / out the best way to replace that similarly-functioning if statement below)
            %li.dropdown          
              = dropdown_tag do
                %i.icon-wrench.icon-large
                %i.icon-caret-down
              %ul.dropdown-menu
                %li.nav-header Manage
                = menu_link_to_if can?(:manage, User), icon_tag('user') + ' Users', users_path
                = menu_link_to_if can?(:manage, Institution), icon_tag('sitemap') + ' Institutions', institutions_path
                = menu_link_to_if can?(:manage, Term), icon_tag('calendar') + ' Terms', terms_path                
                %li.divider
                = menu_link_to_if can?(:manage, GlobalRole), icon_tag('key') + ' Global Roles', global_roles_path
                = menu_link_to_if can?(:manage, CourseRole), icon_tag('key') + ' Course Roles', course_roles_path
                = menu_link_to_if can?(:manage, SystemConfiguration), icon_tag('cogs') + ' System Configuration', edit_system_configuration_path
            %li.dropdown
              = dropdown_tag do
                %i.icon-user.icon-large
                %span.hidden-phone
                  - if session[:original_user]
                    %span.impersonation= current_user.display_name
                  - else
                    = current_user.display_name
                %i.icon-caret-down
                %ul.dropdown-menu
                  %li= link_to icon_tag('cog') + ' Account Settings', '#'
                  %li.divider
                  - if session[:original_user]
                    %li= link_to icon_tag('signout') + ' Unimpersonate', unimpersonate_users_path
                  - else 
                    %li= link_to icon_tag('signout') + 'Sign Out', destroy_user_session_path, method: :delete
    #main-container.container
      #main-container-inner
        = yield

    = render partial: 'flashbar'
