!!!
%html
  %head
    %title!= content_for?(:title) ? 'Pythy &ndash; ' + content_for(:title) : 'Pythy'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'application', media: 'all'
    = controller_stylesheet_link_tag
    = javascript_include_tag 'application'
    = google_api_javascript_include_tag
    = juggernaut_javascript_include_tag
    = controller_javascript_include_tag
    = csrf_meta_tags
    = favicon_link_tag '/favicon.png', type: 'image/png'
  = body_tag do
    = render partial: 'navbar'
    = render partial: 'flashbar'
    .container
      = yield
