!!!
%html
  %head
    %title!= 'Pythy &ndash; Sign In'
    = stylesheet_link_tag 'application', media: 'all'
    = controller_stylesheet_link_tag
    = javascript_include_tag 'application'
    = controller_javascript_include_tag
    = csrf_meta_tags
    = favicon_link_tag '/favicon.png', type: 'image/png'
  %body.landing
    #main-container.container
      = render partial: "flashbar"
      = yield
