!!!
%html
  %head
    %title!= 'Pythy &ndash; Error'
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag 'application'
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
  %body.setup
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Pythy', root_url, class: 'brand'
          %ul.nav.pull-right
            %li.dropdown
              = dropdown_tag do
                %i.icon-user.icon-large
                %span.hidden-phone
                  - if session[:original_user]
                    %span.impersonation= current_user.display_name
                  - else
                    = current_user.display_name
                %i.icon-caret-down
                %ul.dropdown-menu
                  %li= link_to icon_tag('cog') + ' Account Settings', '#'
                  %li.divider
                  - if session[:original_user]
                    %li= link_to icon_tag('signout') + ' Unimpersonate', unimpersonate_users_path
                  - else 
                    %li= link_to icon_tag('signout') + 'Sign Out', destroy_user_session_path, method: :delete
    .container
      = yield
