!!!
%html
  %head
    %title!= 'Pythy &ndash; Initial Setup'
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag 'application'
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
  %body.setup
    .container
      = yield
